<div class="container">
		<% if user_signed_in? %>
			<p id="intro">Hello <%= current_user.name %><br>
				<span>Share your Inspiraation and see what's inspiring others.</span>
			</p>
			<% else %>
				<p id="intro">What is your insp?<br>
					<span>Share your Inspiraation and see what's inspiring others.</span>
				</p>
		<% end %>
	<div id="posts">
		<% @posts.each do |post| %>
		<div class="post">
			<div class="post_image">
				<%= link_to (image_tag post.image.url(:small)), post %>
			</div>
			<div class="post_content">
				<div class="title">
					<h2><%= link_to post.title, post %></h2>
				</div>
				<div class="data clearfix">
					<p class="username">
						Shared by <%= post.user.name%>
					</p>
					<p class="buttons">
						<span><i class="fa fa-comments-o"><%= post.comments.count %></i></span> | 
						<span><i class="fa fa-thumbs-o-up"><%= post.get_likes.size %></i></span>
					</p>
				</div>
			</div>
		</div>
		<% end %>	
	</div>		
</div>