<div class="container">
	<div class="row">
		<% @posts.each do |post| %>
			<%= link_to (image_tag post.image.url(:small)), post %>
			<h3><%= link_to post.title, post %></h3>
			<p><%= post.comments.count %> Commments</p>
			<p><%= pluralize(post.get_likes.size, "Like") %></p>
		<% end %>
		<%= link_to "New Post", new_post_path %>
	</div>
</div>