<div class="container">
	<div class="row">		
		<h3><%= @post.title %></h3>
		<div><%= image_tag @post.image.url(:medium) %></div>
		<small><%= @post.link %></small>
	</div>
	<p><%= @post.description %></p>
	<p><%= @post.user.name %></p>
			<%= @post.get_upvotes.size %> Likes |
			<%= @post.get_downvotes.size %> Dislikes <br>
	<%= link_to "Like", like_post_path(@post), method: :get %>
	<%= link_to "Dislike", dislike_post_path(@post), method: :get %>
	<div id="comment">
		<h2 class="comment_count"><%= pluralize(@post.comments.count, "Comment") %></h2>
		<% @comments.each do |comment| %>
			<div class="comment">
				<p class="username"><%= comment.user.name %></p>
				<p class="content"><%= comment.content %></p>
			</div>
		<% end %>
		<%= render 'comments/form' %>
	</div>
	<br>
	<div class="btn-group">
	<%= link_to "Edit", edit_post_path(@post) , class: "btn btn-default" %>
	<%= link_to "Back", root_path , class: "btn btn-default" %>
	<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" } , class: "btn btn-danger" %>
	</div>
</div>
