<!DOCTYPE html>
<html>
  <head>
    <title>Art</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="wrapper clearfix">
        <div id="logo">
          <%= link_to "Art", root_path %>
        </div>           
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <%= link_to current_user.name , edit_user_registration_path %>
            <%= link_to "New Post", new_post_path %>             
          <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
          <% else %>  
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </ul>            
      </div>
    </div>
  	<p class="notice alert"><%= notice %></p>
    <p class="alert"><%= alert %></p>  
    <div class="wrapper">
      <%= yield %>
    </div>
    
  </body>
</html>
